.body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
}

.product_quantity {
  width: 182px;
  height: 57px;
  overflow: hidden;
  padding-left: 75px;
  padding-top: 10px;
  float: left;
  margin-right: 40px;
}
